$greylight:#F2F2F2;
$pink:#FF79DA;
$purple:#9356DC;
$pastel:#99E2D0;

@font-face{
    font-family: "Shrikhand";
    src:url("shrikhand/Shrikhand-Regular.otf");
   
}
@font-face{
    font-family:"Roboto";
    src:url("Roboto/Roboto-Light.ttf")
}
@font-face{
    font-family: "Robotobold";
    src:url("Roboto/Roboto-Black.ttf")
}
@keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);
        visibility: hidden;
        }
     }

@keyframes loading-back {
    0% { transform: translate(0); }
    100% { transform: translate(0);
            visibility: hidden;
            }
     }
body{
    font-family: "Roboto";
    width:100%;
    margin:0;
    padding:0;
}
#blocpage{


    width:375px;
}
.loading-spinner {
    cursor: progress;
    position: absolute;
    width: 100%;
    height: 100%;

        &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10001;
    overflow: hidden;
    background: $greylight;
    opacity: 0.6;
    animation:loading-back 3s linear forwards;
}
        &::after {
    box-sizing: border-box;
    z-index: 10002;
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid $purple;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: loading 1s  linear 3 forwards;
}
}


h1{
    margin:0;
    display: flex;
    justify-content: center;
    width: 100%;
    .logo{
        margin-top: 20px;
        width: 150px;
        margin-bottom: 15px;
    }
}
form{
    position:relative;
    
}
.fa-map-marker-alt{
    position:absolute;
    right:65%;    
    top:15px;
    
}
#maRecherche{
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: $greylight;
    border-left:none;
    border-right: none;
    border-bottom: none;
    border-color: $greylight;
}

.intro{
    display:flex;
    flex-direction: column;
    align-items: center;
        h2{
            width: 230px;
            text-align: center;
            margin-bottom: 0px;
            margin-left: 0px;
        }
        p{
            width: 300px;
            text-align: center;
        }
    
}
.btn{
    width:218px;
    height:50px;
    text-align: center;
    color:white;
    cursor: pointer;
    background:linear-gradient(to bottom right,$pink,$purple);
    border-radius:50px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    box-shadow: 4px 4px 15px grey;
    line-height: 50px;
    transform: scale(1);
    transition:transform 400ms;
        &:hover{
            transform:scale(1);
            box-shadow:4px 4px 20px grey;
            opacity: 0.8;
        }
}

h2{
    font-family: "Robotobold";
    margin-left: 20px;
}
#contenairefonction{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
b{
    font-family: "Robotobold";
}
.fonctionnement{
    width: auto;
    height: auto;
    display:flex;
   
         p:first-child{
            color: white;
            position: relative;
            top:20px;
            line-height: 11px;
            text-align: center;
            border: 1px solid grey;
            border-radius: 50%;
            width: 11px;
            height: 12px;
            font-size: 20px;
            padding: 4px;
            background-color: $purple;
        } 
        p:nth-child(2){
            font-weight: bold;
            background-color:$greylight;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            width: 320px;
            height: 73px;
            padding-right: 10px;
            margin-left: -12px;
            padding-left: 20px;
            font-size: 17px;
      
        }
      
}
.fa-mobile-alt{
    margin-left:-60px;
    margin-right: 35px;
}
.fa-list-ul{
    margin-left:-95px;
    margin-right: 30px;
}
.fa-store{
    margin-left:-87px;
    margin-right: 30px;
}

.bckgrnd{
    background-color: $greylight;
}
.restau{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
        &__card{
            width: 334px;
            height: 252px;
            margin-bottom: 20px;
            border-radius: 20px;
            background-color: white;
            box-shadow: 4px 4px 15px grey;
                img{
                    width:100%;
                    height:173px;
                    object-fit: cover;
                    border-radius:20px 20px 0 0 ;
                } 
                figure{
                    margin:0;
                }
                figcaption{
                    font-size: 20px;
                    display:flex;
                    margin-left: 20px;
                    justify-content: space-between;
          
                
                }
                a{
                    color:black;
                    text-decoration: none;
                }
        }
     
}

.heart{
    margin-right: 20px;
    margin-top: 25px;
    width: 25px;
    
 
    path{
        fill:transparent;
        stroke: black;
        stroke-width: 40;
        transition: fill 950ms ease-in;
        &:hover{
            stroke:none;
            fill:$purple ;
        }
    }
}

  
footer{
    width: auto;
    height: auto;
    background-color: #353535;
    color:white;
        h3{
            font-family:"Shrikhand";
            margin-top: 10px;
            font-style: italic;
        }
}
.piedpage{
    height: auto;
    padding-top: 10px;
    margin-left: 25px;
        p{
            margin-top: 10px;
            margin-bottom: 0px;
        }
        a{
            color: white;
            text-decoration: none;
        }
}
