$greylight:#F2F2F2;
$pink:#FF79DA;
$purple:#9356DC;
$pastel:#99E2D0;
@font-face{
    font-family: "Shrikhand";
    src:url("shrikhand/Shrikhand-Regular.otf");
   
}
@font-face{
    font-family:"Roboto";
    src:url("Roboto/Roboto-Light.ttf")
}
@font-face{
    font-family: "Robotobold";
    src:url("Roboto/Roboto-Black.ttf")
}
body{
    font-family: "Roboto";
    width:100%;
    margin:0;
    padding:0;
}
#blocpage{


    width:375px;
}
.entete{
    display: flex;
        i{
            margin-top: 20px;
            margin-left: 20px;
        }
        h1{
            width:100%;
            margin-left: 70px;
            margin-top: 10px;
        }
        .logo{
            width: 150px;
        }
}
.imghead{
    width:375px;
    height:100%
}
figure{
    width: 100%;
    margin:0;
    img{
        height: 256px;
        width: 100%;
        object-fit: cover;
    }
}
section{
    position:relative;
    width: 100%;
    background-color: $greylight;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
        h2{
            font-family: "Shrikhand";
            font-size: 28px;
            padding-top: 38px;
            margin-top: -50px;
            margin-left: 20px;
            i{
                margin-left: 40px;
            }

        }
      
}
.menus{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.txt{
    height: 40px;
    width: 300px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.ent{
    display:flex;
    flex-direction: column;
}
.entree{
    display:flex;
    flex-direction: column;
    align-items: center;
            &__card{
            display: flex;
            justify-content: space-between;
            width: 334px;
            height: 68px;
            border-radius: 20px;
            background-color: white;
            margin-bottom: 20px;
            padding-left: 10px;
            margin-right: 10px;
            animation:entree 200ms backwards;
                &:hover{
                    cursor: pointer;
                     .coche{
                    animation: coche 900ms forwards ease-out;
                    transform-origin: right;
                    display: initial;
                        
                            }
                    .fa-check-circle{
                        animation:rota  1500ms backwards ease-in-out   ;
                      
                    }
              
                        }
            @for $i from 1 through 3 {
                &--#{$i} {
                    animation-delay: 200ms * $i;
                 }
                }
               
        }
        h3{
            align-self: flex-start;
            margin-left: 20px;
        }
    }
 
  span{
            font-family: "Robotobold";
        }


.fa-check-circle{
    margin-top: 25px;
}

.coche{
    width:0;
    color: white;
    background-color: $pastel;
    border-radius: 0 10px 10px 0;
    display:none;

}

@keyframes rota{
    0%{

       transform: rotate(0);

    }
    50%{
        transform:  rotate(180deg);


    }
    100%{

        transform:rotate(360deg);

    }
}
@keyframes coche{
    0%{
        color:#F2F2F2;
        width: 0;
        display: none;
        text-align: right;
    }
    25%{
        color:#F2F2F2;
        width: 0;
        display: none;
    }
    50%{
        color:#F2F2F2;
        width: 0;
        display: none; 
    }
    75%{
        color:#F2F2F2;
        width: 0;
        display: initial;
    }
    100%{
        width: 80px;
        color: white;
        display: initial;
        text-align: center;
    }
}
@keyframes entree{
0%{
    visibility:hidden;
}
33%{
    visibility: visible;
}
100%{
    visibility: visible;
}    
}

.prix{
    font-family: "Robotobold";
    align-self: flex-end;
    margin-right: 10px;
    
}
.plat{
    display:flex;
    flex-direction: column;
    align-items: center;
        &__card{
            display: flex;
            justify-content: space-between;
            width: 334px;
            height: 68px;
            border-radius: 20px;
            background-color: white;
            margin-bottom: 20px;
            padding-left:10px;
            margin-right: 10px;
            animation:plat 200ms backwards;
            &:hover{
                cursor: pointer;
                 .coche{
                animation: coche 900ms forwards ease-in-out;
                transform-origin: right;
                display: initial;
                    
                        }
                .fa-check-circle{
                    animation:rota  1500ms backwards ease-in-out   ;
                  
                }
          
                    }
            @for $i from 1 through 3 {
                &--#{$i} {
                    animation-delay: 200ms * $i;
                 }
                }
        }
        h3{
            align-self: flex-start;
            margin-left: 20px;
        }
}
@keyframes plat{
    0%{
        visibility: hidden;
    }
    33%{
        visibility: visible;
    }
    100%{
        visibility:visible;
    }
}
.dessert{
    display:flex;
    flex-direction: column;
    align-items: center;
        &__card{
            display: flex;
            justify-content: space-between;
            width: 334px;
            height: 68px;
            border-radius: 20px;
            background-color: white;
            margin-bottom: 20px;
            margin-right: 10px;
            padding-left: 10px;
            animation:dessert 200ms backwards;
            &:hover{
                cursor: pointer;
                 .coche{
                animation: coche 900ms forwards ease-in-out;
                transform-origin: right;
                display: initial;
                    
                        }
                .fa-check-circle{
                    animation:rota  1500ms backwards ease-in-out   ;
                  
                }
          
                    }
            @for $i from 1 through 3 {
                &--#{$i} {
                    animation-delay: 200ms * $i;
                 }
                }

        }
        h3{
            align-self: flex-start;
            margin-left: 20px;
        }
}
@keyframes dessert{
    0%{
        visibility: hidden;
    }
    33%{
        visibility: visible;
    }
    100%{
        visibility: visible;
    }
}
.btn{
    align-self: center;
    text-align: center;
    line-height: 50px;
    width:218px;
    height:50px;
    color:white;
    background:linear-gradient(to bottom right,$pink,$purple);
    border-radius:50px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    margin-bottom: 20px;
    line-height: 50px;
    box-shadow: 4px 4px 15px grey;
    line-height: 50px;
    transform: scale(1);
    transition:transform 400ms;
        &:hover{
            transform:scale(1.10);
            box-shadow:4px 4px 20px grey;
            opacity: 0.9;
        }

}
footer{
    width: auto;
    height: auto;
    background-color: #353535;
    color:white;
    padding-top: 5px;
        h3{
            font-family:"Shrikhand";
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 20px;
            font-style: italic;
        }
}
.piedpage{
    height: auto;
    padding-top: 10px;
    margin-left: 25px;
        p{
            margin-top: 10px;
            margin-bottom: 0px;
        }
        a{
            color: white;
            text-decoration: none;
        }
}
