@font-face {
  font-family: "Shrikhand";
  src: url("shrikhand/Shrikhand-Regular.otf");
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Robotobold";
  src: url("Roboto/Roboto-Black.ttf");
}
body {
  font-family: "Roboto";
  width: 100%;
  margin: 0;
  padding: 0;
}

#blocpage {
  width: 375px;
}

.entete {
  display: flex;
}
.entete i {
  margin-top: 20px;
  margin-left: 20px;
}
.entete h1 {
  width: 100%;
  margin-left: 70px;
  margin-top: 10px;
}
.entete .logo {
  width: 150px;
}

.imghead {
  width: 375px;
  height: 100%;
}

figure {
  width: 100%;
  margin: 0;
}
figure img {
  height: 256px;
  width: 100%;
  object-fit: cover;
}

section {
  position: relative;
  width: 100%;
  background-color: #F2F2F2;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
section h2 {
  font-family: "Shrikhand";
  font-size: 28px;
  padding-top: 38px;
  margin-top: -50px;
  margin-left: 20px;
}
section h2 i {
  margin-left: 40px;
}

.menus {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ent {
  display: flex;
  flex-direction: column;
}

.entree {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.entree__card {
  display: flex;
  justify-content: space-between;
  width: 334px;
  height: 68px;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
  animation: entree 200ms backwards;
  transition: transform 450ms;
}
.entree__card:hover .coche {
  transform: scale(1);
  transform: translateX(-20px);
}
.entree__card .coche {
  width: 0px;
  transform: scale(0);
}
.entree__card--1 {
  animation-delay: 200ms;
}
.entree__card--2 {
  animation-delay: 400ms;
}
.entree__card--3 {
  animation-delay: 600ms;
}
.entree h3 {
  align-self: flex-start;
  margin-left: 20px;
}

span {
  font-family: "Robotobold";
}

@keyframes entree {
  0% {
    visibility: hidden;
  }
  33% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
.prix {
  margin-left: 150px;
  font-family: "Robotobold";
}

.plat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plat__card {
  display: flex;
  justify-content: space-between;
  width: 334px;
  height: 68px;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  animation: plat 200ms backwards;
}
.plat__card--1 {
  animation-delay: 200ms;
}
.plat__card--2 {
  animation-delay: 400ms;
}
.plat__card--3 {
  animation-delay: 600ms;
}
.plat h3 {
  align-self: flex-start;
  margin-left: 20px;
}

@keyframes plat {
  0% {
    visibility: hidden;
  }
  33% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
.dessert {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dessert__card {
  display: flex;
  justify-content: space-between;
  width: 334px;
  height: 68px;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  animation: dessert 200ms backwards;
}
.dessert__card--1 {
  animation-delay: 200ms;
}
.dessert__card--2 {
  animation-delay: 400ms;
}
.dessert__card--3 {
  animation-delay: 600ms;
}
.dessert h3 {
  align-self: flex-start;
  margin-left: 20px;
}

@keyframes dessert {
  0% {
    visibility: hidden;
  }
  33% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
.btn {
  align-self: center;
  text-align: center;
  line-height: 50px;
  width: 218px;
  height: 50px;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  margin-bottom: 20px;
  line-height: 50px;
  box-shadow: 4px 4px 15px grey;
  line-height: 50px;
  transform: scale(1);
  transition: transform 400ms;
}
.btn:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 20px grey;
  opacity: 0.9;
}

footer {
  width: auto;
  height: auto;
  background-color: #353535;
  color: white;
  padding-top: 5px;
}
footer h3 {
  font-family: "Shrikhand";
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  font-style: italic;
}

.piedpage {
  height: auto;
  padding-top: 10px;
  margin-left: 25px;
}
.piedpage p {
  margin-top: 10px;
  margin-bottom: 0px;
}
.piedpage a {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=style_menu.css.map */
